<a href="https://colab.research.google.com/github/Ccodgodd/__ADSA__/blob/main/ARRAYS_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to find the smallest element among N inputted numbers

In [ ]:
import numpy as np
arr=np.array([12,23,43,456,7,89])
arr.sort()
print("The smallest number in the array is :=",arr[0])

The smallest number in the array is := 7

Write a program to rearrange an array in reverse order without using a
second array

In [ ]:
import numpy as np
arr=np.array([12,23,43,456,7,89])
print("the reverse order of the given array is :=",arr[::-1])

the reverse order of the given array is := [ 89   7 456  43  23  12]

Write a program to calculate standard deviation of N numbers

In [ ]:
import numpy as np
arr=np.array([12,23,43,456,7,89])
n=len(arr)
sum=0
for i in arr:
  sum=sum+i
  mean=sum/n
print("The mean of the given array is :=",mean)
sum1=0
for j in arr:
  s=(j-mean)**2
  sum1=sum1+s
std=np.sqrt(sum1/n)
print("The standard deviation of the given array is :=",std)

Write a program to count odd numbers in a set of integers

In [ ]:
import numpy as np
arr=np.array([12,23,43,456,7,89])
n=len(arr)
sum=0
for i in arr:
  if i%2!=0:
    sum=sum+i
  else:
    continue
print(sum)

Write a program to largest odd number in a set of integers

In [ ]:
import numpy as np
arr=np.array([12,23,43,456,7,89])
n=len(arr)
sum=[]
for i in arr:
  if i%2!=0:
    sum.append(i)

  else:
    continue
  sum.sort()
print(sum[0])

Write a program to count the total number of prime numbers in a set of
integers

In [ ]:
import numpy as np
arr=np.array([12,23,43,456,7,89])
n=len(arr)
sum=0
for i in arr:
  if i%3==0 and i!=3:
    continue
  elif i%2==0 and i!=2:
    continue
  elif i%4==0:
    continue
  elif i%5==0 and i!=5:
    continue
  elif i%7==0 and i!=7:
    continue
  elif i%6==0:
    continue
  elif i%8==0:
    continue
  elif i%9==0:
    continue
  elif i%10==0:
    continue
  else:
    sum=sum+i

print(sum)

162

Write a program to find the second highest element among N inputted
numbers.

In [ ]:
import numpy as np
arr=np.array([12,23,43,456,7,89])
arr.sort()
print("The second largest number in the array is :=",arr[n-2])

The smallest number in the array is := 89

Write a program to find the largest difference in a set of numbers

In [ ]:
import numpy as np
arr=np.array([12,23,43,456,7,89])
arr.sort()
print("The smallest number in the array is :=",arr[0])
print("The largest number in the array is :=",arr[n-2])
print("The difference between the largest and smallest number is :=",arr[n-2]-arr[0])
#

The smallest number in the array is := 7
The largest number in the array is := 89
The difference between the largest and smallest number is := 82

Write a program to find the binary equivalent of a decimal numbers

In [ ]:
def decimal_to_binary(n):
    """Converts a decimal number to its binary equivalent."""
    if n == 0:
        return "0"
    binary = ""
    while n > 0:
        binary = str(n % 2) + binary
        n //= 2
    return binary
decimal_number = 10
binary_equivalent = decimal_to_binary(decimal_number)
print(f"The binary equivalent of {decimal_number} is {binary_equivalent}")

decimal_number = 25
binary_equivalent = decimal_to_binary(decimal_number)
print(f"The binary equivalent of {decimal_number} is {binary_equivalent}")

Write a program to delete an element from the k-th position of an array.

In [ ]:
import numpy as np
arr=np.array([12,23,43,456,7,89])
k=int(input("ENter the position which u wanna remove..."))
arr=np.delete(arr,k)
arr

ENter the position which u wanna remove...3

array([12, 23, 43,  7, 89])

Write a program to insert an element at its proper position in a previously
sorted array

In [ ]:
import numpy as np
def insert_element_sorted(arr, element):
  index = np.searchsorted(arr, element)

  new_arr = np.insert(arr, index, element)

  return new_arr
arr = np.array([12, 23, 43, 456, 89])
element_to_insert = 7

new_arr = insert_element_sorted(arr, element_to_insert)
print("Original array:", arr)
print("Array after insertion:", new_arr)

Original array: [ 12  23  43 456  89]
Array after insertion: [  7  12  23  43 456  89]

Write a program to find the union of two sets of numbers.

In [ ]:
def union_of_sets(set1, set2):
  union_set = set1.union(set2)
  return union_set


set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union_set = union_of_sets(set1, set2)
print("Union of the two sets:", union_set)